## ch2-note2-string.ipynb by PA22

## 문자열:

In [2]:
print("문자열: '")
food = "Python's favorite food is perl"
food

문자열: '

"Python's favorite food is perl"

In [3]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

## 문자열: 이스케이프 코드 이용

In [5]:
multiline = "Life is too short\nYou need python"
multiline

'Life is too short\nYou need python'

## 문자열 연산: 더하기

In [6]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

## 문자열 연산: 곱하기

In [7]:
a = "python"
a * 2

'pythonpython'

In [8]:
print("=" * 50)
print("I am now coding Python!")
print("=" * 50)

==================================================
I am now coding Python!
==================================================

## 문자열 연산: 길이 구하기 - len()

In [9]:
a = "Life is too short"
len(a)

17

## 문자열: 인덱싱이란?

In [10]:
a = "Life is too short, You need Python"
a[3]
a[15]

'r'

## 문자열: 인덱싱 활용

In [20]:
a = "Life is too short, You need Python"
a[0], a[12], a[-1], a[-2], a[-5], a[-12]

('L', 's', 'n', 'o', 'y', ' ')

## 문자열: 슬라이싱이란?

In [21]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [29]:
a = "Life is too short, You need Python"
a[0:5], a[5:7], a[12:17], a[:4], a[19:], a[:17]

('Life ', 'is', 'short', 'Life', 'You need Python', 'Life is too short')

In [30]:
a = "Life is too short, You need Python"
a[19:-7]

'You need'

## 문자열: 슬라이싱 응용?

In [34]:
a = "20190909Sunny"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20190909
Sunny

In [32]:
a = "20190917Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
year,day,weather

('2019', '0917', 'Rainy')

In [37]:
a = "Pithon"
a[:1]
a[2:]
a[:1] + 'y' + a[2:]

'Python'

## 문자열: 포매팅이란?

In [38]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [39]:
"I eat %s apples." % "five"

'I eat five apples.'

In [40]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [41]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

## 문자열: 포맷 코드

In [44]:
"I have %s apples" % 3

'I have 3 apples'

In [45]:
"rate is %s" % 3.234

'rate is 3.234'

In [47]:
"Error is %d%%." % 98

'Error is 98%.'

## 포맷 코드와 숫자 함께 사용하기

In [55]:
"%10s" % "hi"

'        hi'

In [56]:
"%-10sjane." % "hi"

'hi        jane.'

In [57]:
"%0.4f" % 3.42134234

'3.4213'

In [58]:
"%10.4f" % 3.42134234

'    3.4213'

## 문자열: format 함수를 사용한 포매팅

In [61]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [63]:
number = 3 
"I eat {0} {1} apples".format(3, 4)

'I eat 3 4 apples'

In [64]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [66]:
"I eat {0} apples".format("five")

'I eat five apples'

In [68]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [69]:
number = 10
day = "three"
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [70]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [73]:
"{0:<10}".format("hi")

'hi        '

In [74]:
"{0:>10}".format("hi")

'        hi'

In [75]:
"{0:^10}".format("hi")

'    hi    '

In [76]:
"{0:=^10}".format("hi")

'====hi===='

In [77]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [78]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [79]:
y = 3.42134234
"{0:10.4f}".format(y)

'    3.4213'

In [80]:
"{{ and }}".format()

'{ and }'

## 문자열: f 문자열 포매팅

In [81]:
name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [82]:
age = 30
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

In [83]:
d = {"name": "홍길동", "age": 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [84]:
f'{"hi":<10}'

'hi        '

In [85]:
f'{"hi":>10}'

'        hi'

In [86]:
f'{"hi":^10}'

'    hi    '

In [87]:
y = 3.42134234
f"{y:0.4f}"

'3.4213'

In [88]:
y = 3.42134234
f"{y:10.4f}"

'    3.4213'

In [89]:
f"{{ and }}"

'{ and }'

## 문자열: 관련 내장 함수들

In [90]:
a = "hobby"
a.count("b")

2

In [91]:
a = "Python is the best choice"
a.find("b")

14

In [92]:
a = "Python is the best choice"
a.find("k")

-1

In [93]:
a = "Life is too short"
a.index("t")

8

In [94]:
a = "Life is too short"
a.index("k")

ValueError: substring not found

In [97]:
",".join("abcd")
",".join(["a", "b", "c", "d"])

'a,b,c,d'

In [98]:
a = "hi"
a.upper()

'HI'

In [99]:
a = "IoT"
a.lower()

'iot'

In [100]:
a = " hi "
a.lstrip()

'hi '

In [101]:
a.rstrip()

' hi'

In [102]:
a.strip()

'hi'

In [103]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [104]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [105]:
b = "a:b:c:d"
b.split(":")

['a', 'b', 'c', 'd']

In [106]:
"{0:!^12}".format("python")

'!!!python!!!'

In [107]:
f'{"python":!^12}'

'!!!python!!!'