## ch2-note4-tuple.ipynb by PA22

## 튜플: tuple 이란?
- 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.

- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

In [4]:
even = (2, 4, 6, 8)
t1 = ()  # 튜플 초기화
print(t1)
t2 = (1,)
print(t2)
t3 = (1, 2, 3)
print(t3)
t4 = 1, 2, 3
print(t4)
t5 = ("a", "b", ("ab", "cd"))
print(t5)

()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

In [5]:
t1 = (1, 2, "a", "b")
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [6]:
t1[0] = "c"

TypeError: 'tuple' object does not support item assignment

## 튜플: 사용방법

In [7]:
t1 = (1, 2, "a", "b")
t1[0]

1

In [8]:
t1[3]

'b'

In [9]:
t1 = (1, 2, "a", "b")
t1[1:]

(2, 'a', 'b')

In [10]:
t1[2:-1]

('a',)

In [11]:
t1[2:]

('a', 'b')

In [14]:
t1 = (1, 2, "a", "b")
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [22]:
t2 = (3, 4)
id(t2)
t2 * 3

(3, 4, 3, 4, 3, 4)

In [29]:
t2 = (3, 4)
id(t2)
t2 = t2 * 3
id(t2)

1548049841984

In [30]:
t1 = (1, 2, "a", "b")
len(t1)

4